* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Mobile and Global First*/

body {
    /*background-image: url(http://placepattern.com/200/400);*/
    color: darkgray;
    font-family: arial, sans-serif;
    margin: 10px;
}

h1 {
    color: darkgray;
    text-align: left;
    border-bottom: 10px solid lightblue;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-family:headerOne;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family:headerTwo;
}

h3 {
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family:headerTwo;
}

a {
    color: lightslategray;
    text-decoration: none;
    font-family:body;
}

a:hover {
    color: lightblue;
    text-decoration: lightblue;
    font-family:body;
}

img {
  width: 50%;
  height: auto;
  min-width: 430px;
}

ul.a {
  list-style-type: circle;
  color: lightslategray;
}

@font-face {
  font-family:headerOne;
  src:url(OpenSans_Condensed-Bold.ttf);
}

@font-face {
  font-family:headerTwo;
  src:url(OpenSans-Regular.ttf);
}

@font-face {
  font-family:body;
  src:url(OpenSans-Light.ttf);
}

div fontone {
  font-family:body;
}

#headline1 {
      background-image: url(kellaurenlogo.png);
      background-repeat: no-repeat;
      background-position: left top;
      padding-top:20px;
      margin-bottom:20px;

#links {
  font-family:body;
  border-collapse: collapse;
  width: 50%;
}

#links td, #links th {
  border: 1px solid #ddd;
  padding: 10px;
}

#links th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color:lightblue;
  color: white;
}
/*Devices wider than phones: these are changes you want to make once the width gets wider*/

@media only screen and (min-width: 481px) {

    body {
        margin: 40px;
    }

    h1 {
        text-align: left;
    }

}
